<header class="site-header">
  <div class="container">
    <a href="/" class="logo">
      {% if settings.logo %}
        <img src="{{ settings.logo | img_url: 'medium' }}" alt="Lorano Velli">
      {% else %}
        Lorano Velli
      {% endif %}
    </a>

    <nav class="site-nav">
      <a href="/collections/all">Shop</a>
      <a href="/cart">Cart</a>
    </nav>
  </div>
</header>
